.content{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: green;
    text-align: center;
    color: white;
    padding: 20px;
    font-weight: bolder;
    /* background-image: url(images/background.png);
    background-size: cover;
    
    Adding an image into HTML and ensuring that it covers the 
    whole background
    */
}
h1{
    color: gold;
}
#message-el{
    font-style: italic;

}
button{
    padding: 5px;
    color: green;
    width: 150px;
    background-color: gold;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    
}
button:hover{
    background-color: honeydew;
}